}

.containerproje{
    position: relative;

}

.containerproje .slide-container .slide{
  height: 200px
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 9%;
    padding-bottom: 70px;
}


.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}


.containerproje .slide-container .slide .contentproje h3{
    font-size: 35px;
    color: #006633;
}

.containerproje .slide-container .slide .contentproje p{
    font-size: 16px;
    color: black;
    width: 40%;
    height: 10%;

}

.containerproje .slide-container .slide .contentproje .bntproj{
    margin-top: 10px;
    display: inline-block;
    background: #8932c3;
    color: black;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #8932c3;
  
    text-decoration: none;
}

.containerproje .slide-container .slide .contentproje .bntproj:hover{
    background: #a355d7;
    border: 2px solid #a355d7;
    color: #ffffff;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .slide-container.active{
    display: block;
}

.containerproje .slide-container:nth-child(1) .slide{


    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slide-container:nth-child(2) .slide{
  
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slide-container:nth-child(3) .slide{
    
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.containerproje .slide-container:nth-child(4) .slide{
    
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.containerproje .slide-container:nth-child(5) .slide{
    
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.containerproje .slide-container:nth-child(6) .slide{
    
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.containerproje .slide-container:nth-child(7) .slide{
    
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.containerproje .slide-container:nth-child(8) .slide{
    
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}


.containerproje #prev, 
.containerproje #next {
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    color: #ffffff;
    background:  #006633;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerproje #prev:hover, 
.containerproje #next:hover{
    background: black;
}
.containerproje #prev{
    left: 10%;
}

.containerproje #next{
    right: 10%;
}



@media(max-width: 500px){
    .containerproje #prev{
        left: 0px;
        top: 60%;
    }

    .containerproje #next{
        right: 0px;
        top: 60%;
    }
.contentproje p {
    color: black;
}

    .containerproje .slide-container .slide .contentproje p{
        font-size: 16px;
        color: black;
        
        width: 70%;
        height: 10%;
        color: black;
    
    }
}




